@import '~bulma/bulma'

.heritors-list
  .heritor-row
    display: flex
    flex-direction: row-reverse

    .heritor-label
      display: inline-block
      width: 100px

.counter
  align-items: center
  display: flex
  justify-content: space-between

  .heritor-count
    width: 5rem
    text-align: right
